include ../mixins/breadcrumbs.mixin.pug
- const titleText = ((title) ? `${title} | ` : "") + 'Admin Panel' 

doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title= titleText
        //- Fonts
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback")
        //- Font Awesome Icons
        link(rel="stylesheet", href="/plugins/fontawesome-free/css/all.min.css")
        //- Theme style
        link(rel="stylesheet", href="/admin/css/adminlte.min.css")
        block head

    body.hold-transition.sidebar-mini 
        .wrapper 
            //- Navbar
            include topMenu.pug

            //- Main Sidebar Container
            include leftMenu.pug

            .content-wrapper
                //- Content Header (Page Header)
                .content-header
                    .container-fluid 
                        .row.mb-2 
                            .col-sm-6
                                h1.m-0= titleText
                            .col-sm-6   
                                breadcrumbs
                                - 
                                    const breadcrumbsArr = []
                                +breadcrumbs(breadcrumbsArr)
                //- Main content
                .content 
                    block content

            include rightAside.pug
            include footer.pug


        script(src="/plugins/jquery/jquery.min.js")
        script(src="/plugins/bootstrap/js/bootstrap.bundle.min.js")
        script(src="/admin/js/adminlte.min.js") 
        block scripts